<section id="up">

    <div id="slider">
        <div style="background-image: url('/rec/slide/0.jpg');"></div>
    </div>

    <header>
        <div class="logo">

        </div>

        <div class="menu">
            <a href="/">INICIO</a>
            <a href="/player/">CANCIONES</a>
            <a href="/list/">COLECCIÓN</a>
        </div>

    </header>

    <div class="cont">
        <a href="#disc">
            <div id="feedDown"></div>
        </a>
    </div>

</section>

<section id="disc">

    <h2 class="titleSec">DISCOGRAFÍA</h2>
    <div id="contAlbum">
        {{#each albums}}
        <article style="background-image: url({{dir}});" class="album">
            <div class="bck">
                <h2>{{name}}</h2>
                <h3>{{year}}</h3>
                <a href="./player/?album={{name}}#filter">
                    <button class="btnMas">VER MAS</button>
                </a>
            </div>
        </article>
        {{/each}}
    </div>
    <div class="space"></div>

</section>

<section id="resumen">

    <h2 class="titleSec">CANCIONES DESTACADAS</h2>
    <section class="cont">
        <ul id="listMusic">
            {{#each canDestacadas}}
            <li class="songLink">
                <a href="/song/{{id}}#song">
                    <div style="background-image: url('rec/songs/album/{{album}}.jpg');"></div>
                    <div class="cont">
                        <h2> {{nombre}} </h2>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </section>
    <div class="space"></div>
</section>

<section id="sub">
    <div class="space"></div>
    <h1>¡Ingresa tu correo para estar al tanto de nuevas publicaciones!</h1>
    <label>
        <input id="correo" class="inpCorreo" type="text" placeholder="Correo Electronico...">
        <button id="btnCorreo" class="btnMas">ACEPTAR</button>
    </label>
    <div class="space"></div>
</section>

<section id="info">
    <h2 class="titleSec">SOBRE EL GRUPO</h2>
    <div id="contCard">

    </div>
    <div class="space"></div>
</section>

<section id="grupo3D">

</section>

<footer>
    <div class="space"></div>
    <div class="cont">
        <div class="left">
            <ul>
                <li>Estados Unidos, NY</li>
                <li>The Neighbourhood - The NBHD</li>
            </ul>
        </div>
        <div class="right">
            <h2>Enlaces</h2>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/player/">Canciones</a>
                </li>
                <li>
                    <a href="/list/">Colección</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="feed">
        <a href="https://thenbhd.com/">www.thenbhd.com</a>
        <div class="cont">
            <a href="https://www.facebook.com/TheNeighbourhood/">
                <div style="background-image: url('rec/feed/1.svg')"></div>
            </a>
            <a href="https://www.youtube.com/user/TheNeighbourhoodVEVO">
                <div style="background-image: url('rec/feed/2.svg')"></div>
            </a>
            <a href="https://www.instagram.com/thenbhd/">
                <div style="background-image: url('rec/feed/3.svg')"></div>
            </a>
        </div>
    </div>
    <div class="space"></div>
</footer>

<script language="javascript" type="text/javascript"  src="/js/libs/three/three.js"></script>
<script language="javascript" type="text/javascript"  src="/js/libs/three/OrbitControls.js"></script>
<script language="javascript" type="text/javascript"  src="/js/libs/three/DDSLoader.js"></script>
<script language="javascript" type="text/javascript"  src="/js/libs/three/MTLLoader.js"></script>
<script language="javascript" type="text/javascript"  src="/js/libs/three/OBJLoader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
<script language="javascript" type="text/javascript" src="/js/libs/p5.sound.js"></script>
<script language="javascript" type="text/javascript" src="/js/main.js"></script>